@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
.container {
  width: var(--size-fluid-10);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container > * {
  width: 100%;
}
.player-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.portrait {
  align-self: baseline;
  position: relative;
  width: 128px;
  aspect-ratio: 1;
}
.portrait > img {
  object-fit: none;
  position: absolute;
  width:100%;
}
.icon {
clip-path: polygon(10% 25%, 50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%);
}